### print the list `lst` sorted in descending order. `lst` must not be modified

In [1]:
lst = [12,
       41,
       0,
       -5,
       -9,
       34,
       12,
       5,] # you can add , also to the last element (i.e., after each element)

In [2]:
print("sorted lst", sorted(lst, reverse = True))

sorted lst [41, 34, 12, 12, 5, 0, -5, -9]

### print the **absolute value** of the elements`lst` sorted in ascending order.
### Hint: you can use the `abs` function

In [3]:
[abs(i) for i in sorted(lst)] #first we sort then we take the abs value

[9, 5, 0, 5, 12, 12, 34, 41]

In [4]:
sorted(lst, key = abs)
#prints the elements of lst sorted according to their absolute values, it doesn't print the absolute values

[0, -5, 5, -9, 12, 12, 34, 41]

In [5]:
[abs(i) for i in sorted(lst, key=abs)]

[0, 5, 5, 9, 12, 12, 34, 41]

### read a string from input, print the number of non-repeated chars

In [6]:
#set is a structure that doesn't allow for repetitions and can be initialized by an iterable
#we want to print the number of non repeated, so the len
print(len(set(input())))

 anna

2

### Use the pythonic way to iterate over `lst` such that inside the `for` loop you have both the index and the corresponding element in order to generate the following output

```
lst[0] = 12
lst[1] = 41
lst[2] = 0
lst[3] = -5
lst[4] = -9
lst[5] = 34
lst[6] = 12
lst[7] = 5
```

In [7]:
for i in range(len(lst)):
    print("lst[",i,"] = ", lst[i], sep="")

lst[0] = 12
lst[1] = 41
lst[2] = 0
lst[3] = -5
lst[4] = -9
lst[5] = 34
lst[6] = 12
lst[7] = 5

In [8]:
for i, elem in enumerate(lst):  #more pythonic
    print("lst[",i,"] = ", elem, sep="")

lst[0] = 12
lst[1] = 41
lst[2] = 0
lst[3] = -5
lst[4] = -9
lst[5] = 34
lst[6] = 12
lst[7] = 5

### Transform the following for loop into a list comp

In [9]:
odd_squares = []
for i in range(10):
    if i%2 != 0:
        odd_squares.append(i**2)
odd_squares

[1, 9, 25, 49, 81]

In [10]:
odd_squares = [i**2 for i in range(10) if i%2]
odd_squares

[1, 9, 25, 49, 81]

### clear the content of `lst` such that also all other references are cleared as well

In [11]:
other_lst = lst
a = lst

In [12]:
lst.clear()

### implement the following functions. Try to do it with just one line of code

In [13]:
def is_palindrome(string):     
    '''
    returns True if string is palindrome, False otherwise
    '''
    return string == "".join(reversed(string))

# reversed returns an iterable, join() method takes all items in an iterable and joins them into one string.

In [14]:
is_palindrome("anna")

True

In [25]:
def counter_dict(sequence):     
    '''
    count how many times an element is present in the sequence var
    and returns a dict
    '''
    #from collections import Counter
    #return(Counter(sequence))
    
    return{k: sequence.count(k) for k in sequence} #curly braces for dict
    # return{k: sequence.count(k) for k in set(sequence)}

In [26]:
counter_dict("anna")

Counter({'a': 2, 'n': 2})

In [35]:
def get_most_frequent(sequence):
    '''
    returns a tuple with the most frequent object in the sequence with the 
    corresponing number
    '''
    return max(counter_dict(sequence).items(), key=lambda x: x[1]) #key is to consider the second element of the dict

lst = ["a", "b", "b", "a", "b"]
get_most_frequent(lst)

('b', 3)

In [38]:
def which_duplicates(sequence):
    '''
    return a dict containing the repeted objects and the number of repetitions
    '''
    return{k: sequence.count(k) for k in sequence if sequence.count(k)>1}

In [41]:
which_duplicates("mammamia")

{'m': 4, 'a': 3}